<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title or site.name }}</title>
  <meta name="description" content="{{ description or site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {% include "partials/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
</body>

</html>
