---
layout: layouts/page.njk
title: Blog
---

{% include "partials/hero.njk" %}

<h2>Articles & Insights</h2>
<div class="post-list">
  {% for post in collections.posts | reverse %}
  <article class="post-item">
    <h3><a href="{{ post.url | url }}">{{ post.data.title }}></a></h3>
    <small>{{ post.date | date("MMMM d, yyyy") }}</small>
    <p>{{ post.data.description }}</p>
    <a href="{{ post.url | url}}" class="btn-small">Read more</a>
  </article>
  {% endfor %}
</div>