---
layout: layouts/page.njk
title: Services
---

{% include "partials/hero.njk" %}

<div class="services">
  <h2>Digital Project Manager</h2>
  <p>Focus on guiding design efforts and ensuring consistency across projects..</p>

  <h2>UI/UX Lead</h2>
  <p>User interface and user experience design while also overseeing design quality..</p>

  <h2>Consulting</h2>
  <p>Helping you plan and execute digital strategies effectively.</p>
</div>
