<header class="site-header">
    <nav>
        <a href="{{ '/' | url }}">Home</a>
        <a href="{{ '/about/' | url }}">About</a>
        <a href="{{ '/work/' | url }}">Work</a>
        <a href="{{ '/services/' | url }}">Services</a>
        <a href="{{ '/blog/' | url }}">Blog</a>
        <a href="{{ '/contact/' | url }}">Contact</a>
    </nav>
</header>